.boat_card {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  margin: 10px;
}

.boat_card img {
  height: 120px;
  width: 120px;
  object-fit: cover;
}

.boat_card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.boat_card p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 8px;
  margin-top: 8px;
}

.boat_card .boata_card_infos {
  padding: 16px;
   height: 120px;
  width: 120px;

}