<!-- new view -->
<div class="container">
  <h1><center>Book your boat!<center></h1>
  <%= simple_form_for [ @boat, @booking ] do |f| %>
    <%= f.input :arrive %>
    <%= f.input :leave %>
    <%= f.submit %>
  <% end %>
</div>
