.navbar-lewagon {
  justify-content: space-between;
  background: #0181c8;
  padding: 4px 24px;
  font-color: white;
  letter-spacing: 3px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon h1 {
  color: white;
}
