.navbar-lewagon {
  justify-content: space-between;
  background: #0181c8;
  padding: 4px 24px;
  font-color: white;
  opacity: .95;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon h1 {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  position: absolute;
  left: 50%;
  margin-left: -50px;
}

.navbar-title {
  letter-spacing: 3px;
}

.nav-link {
  color: white !important;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

