.navbar-lewagon {
  justify-content: space-between;
  background: #0779e4;
  padding: 4px 24px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
